@model DeanerySystem.UI.Models.Education.Schedule.LessonInfo

<a class="lesson-link" href='@Model.JornalLink'>
	<div class="lesson-content">
		<span>@Model.Subject</span>
		<br/>
		<span>@Model.Lector</span>
		<br/>
		<span>@Model.Type</span>
	</div>
</a>
