
@{
    ViewBag.Title = "Contact";
}
<div id="contactform">
    <h2>Contact</h2>
    <span>First Name:</span>
    <input type="text" data-bind="value: FirstName" />
</div>

<script>
    $(document).ready(function() {

    })
</script>