@{
	ViewBag.Title = "Home Page";
}

<div class="portlet light bordered">
	<div class="portlet-title">
		<h1 class="font-green-sharp">Вас вітає система Електронний Деканат!</h1>
	</div>
	<p class="portlet-body">Елекронний деканат - це весь навчальний процес онлайн.</p>
</div>
