@{
	ViewData["Title"] = "Успішність";
}

<div class="page-bar" data-bind="with: PageBar">
	<ul class="page-breadcrumb">
		<li>
			<a href="@Url.Action("Index", "Home")"> Головна </a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<span> Успішність </span>
		</li>
	</ul>
</div>

<h3 class="page-title">
	Успішність <small>Далі буде...</small>
</h3>
