<script>
	this.data = @Html.Raw(ViewData["data"]);
</script>

<script src="~/dist/schedule.js"></script>

@{
	ViewBag.Title = "Schedule";
}

<h3 class="page-title">
	Розклад <small>Виберіть журнал</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href=@Url.Action("Index", "Home")>Головна</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Розклад</a>
		</li>
	</ul>
</div>

<div class="table-scrollable">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">День</th>
				<th class="text-center">Пара</th>
				<!-- ko foreach: Groups -->
					<th class="text-center" data-bind="text: $data"></th>
				<!-- /ko -->
			</tr>
		</thead>
		<tbody class="text-center" data-bind="foreach: Days">
			<!-- ko template: { name: $data.TemplateName, data: $data, as: 'day' } -->	
			<!-- /ko -->
		</tbody>
	</table>
</div>

<script type="text/html" id="day-template">
	<!-- ko foreach: LessonNumbers -->
		<tr>
			<!-- ko if: $index() == 0 -->
				<td data-bind="text: day.Name, attr: { rowspan: $parent.RowSpanNumber }"></td>
			<!-- /ko -->

			<td rowspan="2" data-bind="template: { name: $data.TemplateName, data: $data }"></td>

			<!-- ko foreach: LessonGroups -->
				<td class="lesson-group-cell" 
					data-bind="template: { name: $data.TemplateName, data: $data.FirstRowLesson }, attr: { rowspan: $data.RowSpanNumber }"></td>
			<!-- /ko -->
		</tr>
		<tr>
			<!-- ko foreach: LessonGroups -->
				<!-- ko if: $data.RowSpanNumber() == 1 -->
					<td class="lesson-group-cell" data-bind="template: { name: $data.TemplateName, data: $data.SecondRowLesson }"></td>
				<!-- /ko -->
			<!-- /ko -->
		</tr>
	<!-- /ko -->
</script>

<script type="text/html" id="lesson-number-template">
	<span data-bind="text: Number" />
	<br />
	<span data-bind="text: Time" />
</script>

<script type="text/html" id="lesson-group-template-empty"></script>

<script type="text/html" id="lesson-group-template">
	<!-- ko template: { name: $data.TemplateName, data: $data } -->
	<!-- /ko -->
</script>

<script type="text/html" id="lesson-template-empty">
	<div class="lesson-empty"></div>
</script>

<script type="text/html" id="lesson-template">
	<div class="lesson-cell">
		<a class="lesson-cell-link" data-bind="attr: { href: JournalLink }">
			<span data-bind="text: Subject" />
			<br />
			<span data-bind="text: Lector" />
			<br />
			<span data-bind="text: Type" />
		</a>
	</div>
</script>
