@using DeanerySystem.Domain.Entities
@model IEnumerable<DeanerySystem.Domain.FacultyExample>
@{
    ViewBag.Title = "Faculties";
}

<div class="container">
    <h2>Faculties Table</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Faculty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faculty in Model)
            {
                <tr>
                    <td>
                        @faculty.Id
                    </td>
                    <td>
                        @faculty.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

