body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.grid-item {
    background: #F3F3F5;
    margin: 4px 0;
    padding: 20px 10px 20px 10px;
}

.grid-item:hover {
    background-color: #DBDBDC;
    border-left: solid 5px #F16700;
}

a, a:hover, a:visited, a:link, a:active {
    color: #000000;
    text-decoration: none;
}

.custom-title {
    margin: 30px 0; 
}

.grey-border {
    border-left: solid 5px grey;
}

.colored-border {
    border-left: solid 5px #00776B;
}

.lesson-cell {
	padding: 0 !important;
	vertical-align: middle !important;
}

.lesson-cell:hover {
	background-color: #f3f4f6;
}

.lesson-cell .lesson-content {
	padding: 8px;
}
