.grid-item {
    background: #F3F3F5;
    margin: 4px 0;
    padding: 20px 10px 20px 10px;
}

.grid-item:hover {
    background-color: #DBDBDC;
    border-left: solid 5px #F16700;
}

a, a:hover, a:visited, a:link, a:active {
    color: #000000;
    text-decoration: none;
}

.custom-title {
    margin: 30px 0; 
}

.grey-border {
    border-left: solid 5px grey;
}

.colored-border {
    border-left: solid 5px #00776B;
}