@model DeanerySystem.WebUI.Models.Profile.MemberModel

@{
    ViewBag.Title = "Мій профіль";
}

<h3 class="page-title">
	Мій профіль <small>@Model.MainRole</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href=@Url.Action("Index", "Home")>Головна</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Мій профіль</a>
		</li>
	</ul>
</div>

<h3>
	@Model.Email
</h3>
