@Html.Partial("_PageBar")

<h1 class="page-title">
	Адміністрування <small>Університет</small>
</h1>

<div class="row" data-bind="foreach: UniversityStatistics">
	<!-- ko template: { name: 'dashboard-stat-template', data: $data, afterRender: $parent.AfterRender } -->
	<!-- /ko -->
</div>

<script type="text/html" id="dashboard-stat-template">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-v2" data-bind="css: ColorClass, attr: { href: Link }">
			<div class="visual">
				<i class="fa" data-bind="css: IconClass"></i>
			</div>
			<div class="details">
				<div class="number">
					<span class="counter" data-bind="attr: { 'data-value': Count }"></span>
				</div>
				<div class="desc" data-bind="text: Name"></div>
			</div>
		</a>
	</div>
</script>

<script>
	require.config({
		baseUrl: '../',
		paths: {
			'Admin/University/Initializer': 'Scripts/Generated/admin/university',
			'jquery': 'scripts/jquery-2.2.2', //'node_modules/jquery/dist/jquery.min',
			'knockout': 'node_modules/knockout/build/output/knockout-latest',
			'counterup': 'theme/assets/global/plugins/counterup/jquery.counterup.min', //'node_modules/counterup/jquery.counterup.min'
			'waypoints': 'theme/assets/global/plugins/counterup/jquery.waypoints.min' //'node_modules/jquery-waypoints/waypoints.min',
		}
	});

	require(['jquery', 'knockout'], function ($, ko) {
		if (!window['ko']) {
			window['ko'] = ko;
		}
		require(['waypoints', 'counterup', 'Admin/University/Initializer'], function (waypoints, counterup, initializer) {
			var app = new initializer.Initializer();
			app.Start();
		});
	});
</script>
