<script src="~/Scripts/Admin/Administration.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Адміністрування</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="university_management" href="#university_tab" aria-controls="university" role="tab" data-toggle="tab">Університет</a></li>
        <li role="presentation"><a href="#users_tab" aria-controls="users" role="tab" data-toggle="tab">Користувачі</a></li>
        <li role="presentation"><a href="#faculties_tab" aria-controls="faculties" role="tab" data-toggle="tab">Факультети</a></li>
        <li role="presentation"><a href="#departments_tab" aria-controls="departments" role="tab" data-toggle="tab">Кафедри</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="university_tab">1</div>
        <div role="tabpanel" class="tab-pane" id="users_tab">2</div>
        <div role="tabpanel" class="tab-pane" id="faculties_tab">3</div>
        <div role="tabpanel" class="tab-pane" id="departments_tab">4</div>
    </div>

</div>