@model @IEnumerable<DeanerySystem.UI.Models.Admin.Faculty>

<h1 class="page-title">
    Адміністрування <small>Факультет</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href=@Url.Action("Index", "Home")>Головна</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href=@Url.Action("Index", "Admin")>Адміністрування</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Факультети</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        @if (!Model.Any())
        {
            <div class="well well-lg">
                <h4 class="block">Покищо немає створених факультетів</h4>
                <p>Створіть факультет на цій сторінці. Потім ви зможете додати до нього кафедри та користувачів.</p>
            </div>
        }
        @foreach (var faculty in Model)
        {
            <div class="note note-info">
                <h4 class="block">faculty.Name</h4>
                <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
            </div>
        }
    </div>
</div>
