@model DeanerySystem.UI.Models.Admin.University
<div id="manage_university_edit_mode" class="hidden">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    <label>Назва університету</label>
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="Зберегти" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div id="manage_university_display_mode">
    <h4><span style="font-weight:bold">Назва університету: </span><span id="university_name">ЛНУ ім. Івана Франка</span></h4>
    <button id="switch_to_edit_mode" class="btn btn-default">Редагувати</button>
</div>


