@{
	ViewData["Title"] = "Dashboard";
}

<div id="dashboard"></div>

<script src="~/dist/bundle.js"></script>
<script src="~/theme/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
<script src="~/theme/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
