@using DeanerySystem.Domain.Entities
@using DeanerySystem.Domain.Entities.Enums
@model DeanerySystem.UI.Models.Education.NumeratorDenomerator

@if (@Model.DenumeratorPlan != null && !@Model.MergeSell) {
	<td style="text-align: center;">
		@{ Html.RenderPartial("_JournalDenomeratorCell", Model); }
    </td>
}

@if (Model.NumeratorPlan != null && Model.DenumeratorPlan == null) {
	<td />
}
